#header{
   display: flex;
   align-items: center;
   justify-content: space-between; 
   padding: 20px 80px;
   background-color: rgb(24, 26, 27);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
}

.SquareEyes_Logo {
    width: 200px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgba(255, 0, 0, 0.846);
}


.cart-item-count{
display: flex;
width: 20px;
height: 20px;
background-color:rgba(255, 0, 0, 0.846) ;
justify-content: center;
align-items: center;
color: white;
border-radius: 50%;
position: absolute;
top: 35%;
right: 75px;
}

.btn-buy{
  display: block;
  padding: 10px 30px;
  background:rgba(255, 0, 0, 0.846);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  margin: 20px auto 0;
  cursor: pointer;
}

#cart-close{
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
  color: white;
}


#cart-icon {
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
}

#cart-icon .cart-item-count{
  position: absolute;
  top: 0;
  right: -6px;
  width: 20px;
  height: 20px;
  background: rgba(255, 0, 0, 0.846);
  border-radius: 50%;
  font-size: 12px;
  color: fff;
}

#mobile{
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#hero {
    background-image: url(/Images/Cinema\,\ popcorn.jpg);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.product-collection {
  padding: 100px 9% 30px;
}

.product-collection h1 {
  text-align: center;
  margin-bottom: 40px;
}


.product-collection .product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px; 
  width: 100%;
}


.product-item {
  background: rgb(40, 42, 43);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform .3s ease;
}

.product-item:hover {
  transform: translateY(-6px);
}

.img-box {
  width: 100%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  background: #000;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .3s ease;
}

.product-item:hover img {
  transform: scale(1.05);
}

.product-item .info {
  padding: 12px;
}

.product-item .title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 6px;
}

.product-item .price {
  font-size: 16px;
  font-weight: 500;
}



#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-image: url(Images/curtain-1275200_1280.png);
  }

  #banner button:hover{
    background-color: rgba(255, 0, 0, 0.846);
  }

