
@media (max-width:1024px){
    .section-p1 {
        padding: 40px 40px;
    }

#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(24, 26, 27);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    }

 #navbar.active {
    right: 0px;
 }
   
    #navbar li {
    margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
      }

    #mobile i{
        color: white;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 24px;
    }

    #lg-bag {
       display: none; 
    }

    #hero {
        
        height: 70vh;
        padding: 0 80px;  
        background-position: top 30% right 30%;
    }

    #product1 .pro-container{
        justify-content: center;
       }
    
       #product1 .pro{
        margin: 15px;
        }

}

@media (max-width:480px){
    #header {
        padding: 10px 10px;
    }

    #hero {
        padding: 0 20px;  
        background-position: 55%;
    }
}


 @media (max-width: 1200px) {
    .product-content {
    grid-template-columns: repeat(3, 1fr);
    }
}
      
@media (max-width: 900px) {
    .product-content {
    grid-template-columns: repeat(2, 1fr);
    }
}
      
@media (max-width: 600px) {
    .product-content {
    grid-template-columns: 1fr;
    }

    .product-image img {
        width: 100%;
      }
    
      .product-info h1 {
        font-size: 22px;
      }
    
      #add-to-cart-btn {
        font-size: 16px;
        padding: 12px;
      }
}


@media (max-width: 900px) {
      .product-wrapper {
        flex-direction: column;     
        align-items: center;
        text-align: center;
      }
    
      .product-image img {
        width: 80%;                 
        max-width: 350px;
      }
    
      .product-info {
        width: 100%;
        margin-top: 20px;
      }
    
      .product-info h1 {
        font-size: 26px;
      }
    
      .product-info p {
        font-size: 15px;
      }
    
      .product-info .price {
        font-size: 20px;
      }
    
      #add-to-cart-btn {
        width: 100%;
        max-width: 320px;
        padding: 14px;
        font-size: 17px;
      }
  }
  
  
