.single-product {
  padding: 100px 8%;
  display: flex;
  justify-content: center;
}

.product-wrapper {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  width: 100%;
}

.product-image img {
  width: 350px;
  border-radius: 12px;
  object-fit: cover;
}

.product-info {
  flex: 1;
  max-width:400px;
}

.product-info h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

.product-info p {
  margin: 8px 0;
  color: #ccc;
}

.product-info .price {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

#add-to-cart-btn {
  margin-top: 20px;
  padding: 12px 24px;
  border: none;
  background: #f33;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background .3s;
}

#add-to-cart-btn:hover {
  background: #c22;
}
