
#prodetails {
    display: flex;
    margin-top: 20px;
  }

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
  }

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
  }
  
  #prodetails .price {
    padding: 10px;
  }
  
